.texto_primario {
    color: blue;
    background-color: skyblue;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 2.6;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
    white-space: nowrap; 
}


.texto_secundario {
    color: yellow;
    background-color: green;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',Arial, sans-serif;
    font-weight: normal;
    line-height: 1;
    text-decoration: line-through;
    text-transform: lowercase;
    letter-spacing: 1px;
    word-spacing: 1px;
    white-space: nowrap; 
}   

