.layout {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
}

header {
    grid-area: header;
    background-color: rgb(87, 226, 87);
    padding: 10px;
}

aside {
    grid-area: aside;
    background-color: rgb(202, 244, 97);
    padding: 10px;
}

main {
    grid-area: main;
    background-color: rgb(161, 94, 237);
    padding: 10px;
}

footer {
    grid-area: footer;
    background-color: rgb(242, 25, 220);
    padding: 10px;
}

.layout > * {
    border: 2px solid black;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
    padding: 20px;
}

